@media only screen and (max-width: 669px){
    #navbar img{
        height: 30px;
    }
#navbar ul{
    display: flex;
    flex-direction: column;
    position:static;
}
#navbar ul li a{
    font-size: 14px;
}
.container video{
width: 370px;
}
.overlay p span{
    font-size: 24px;
}
#faculty {
    display: flex;
    flex-direction: column;
}
#placement .images .image img{
    height: 50px;
    width: 50px;
    border: none;
    box-shadow: none;
    
}
#placement .images .image{
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: none;
}
section #placement .images .image{
    box-shadow: none;
    border: none;
    display: flex;
    flex-direction: column;
    margin: .3rem;
}
#map{
    display: none;

}
.sectionAcademics {
    display: flex;
    flex-direction: column;
}
.sectionAcademics .options{
    display: none;
}
#eng{
    margin: 2px;
}
 #eng .CS,#eng .IT,#eng .ECE,#eng .EE,#eng .ME,#eng .CE{
     display: flex;
     flex-direction: column;
     margin: 1px;
 }
 #pharma .medical img{
     height: 400px;
     width: 350px;
 }
 .Admission h1 {
     font-size:18px; 
 }
 #campus ul{
     display: none;
 }
 #lib .lib{
     display: flex;
     flex-direction: column;
 }
 .lib .matter img{
     width: 350px;
     height: 300px;
 }
 #comp .comp{
     display: flex;
     flex-direction: column;
 }
 .imgComp img{
     height: 300px;
     width: 350px;
 }
 #hall{
     display: none;
 }
 #sports .sports{
     display: flex;
     flex-direction: column;
 }
 .sports .imgsp{
     display: none;
 }
 .sports video{
     display: none;
 }
 .nav2 {
     display:none;
 }
 #BH img{
     height: 300px;
     width: 370px;
 }
 #GH{
     display: none;
 }
 .vision{
     display: flex;
     flex-direction: column;
 }
 
}



@media only screen and (min-width: 670px) and (max-width:768px){

    #navbar img{
        height: 30px;
    
    }
#navbar ul{
    display: flex;
    flex-direction: column;
    position:static;
    margin-left: -10px;
}
#navbar ul li{
    margin-left: -10px;
}
#navbar ul li a{
    font-size: 14px;
}
.container video{
width: 750px;

}
.overlay p span{
    font-size: 24px;
}
#faculty {
    display: flex;
    flex-direction: column;
}
#placement .images .image img{
    height: 50px;
    width: 50px;
    border: none;
    box-shadow: none;
    
}
#placement .images .image{
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: none;
}
section #placement .images .image{
    box-shadow: none;
    border: none;
    display: flex;
    flex-direction: column;
    margin: .3rem;
}
#map{
    display: none;

}
.sectionAcademics {
    display: flex;
    flex-direction: column;
}
.sectionAcademics .options{
    display: none;
}
#eng{
    margin: 2px;
}
 #eng .CS,#eng .IT,#eng .ECE,#eng .EE,#eng .ME,#eng .CE{
     display: flex;
     flex-direction: column;
     margin: 1px;
 }
 #pharma .medical img{
     height: 400px;
     width: 350px;
 }
 .Admission h1 {
font-size: 18px;
     
 }
 #campus ul{
     display: none;
 }
 #lib .lib{
     display: flex;
     flex-direction: column;
 }
 .lib .matter img{
     width: 350px;
     height: 300px;
 }
 #comp .comp{
     display: flex;
     flex-direction: column;
 }
 .imgComp img{
     height: 300px;
     width: 350px;
 }
 #hall{
     display: none;
 }
 #sports .sports{
     display: flex;
     flex-direction: column;
 }
 .sports .imgsp{
     display: none;
 }
 .sports video{
     display: none;
 }
 .nav2 {
     display:none;
 }
 #BH img{
     height: 300px;
     width: 370px;
 }
 #GH{
     display: none;
 }
 .vision{
     display: flex;
     flex-direction: column;
 }
}

@media only screen and (min-width: 768px)and (max-width: 992px){


    #navbar img{
        height: 30px;
    
    }
#navbar ul{
    display: flex;
    flex-direction: column;
    position:static;
    margin-left: -10px;
}
#navbar ul li{
    margin-left: -10px;
}
#navbar ul li a{
    font-size: 14px;
}
.container video{
width: 700px;
margin-left:20px ;

}
.overlay p span{
    font-size: 24px;
}
#faculty {
    display: flex;
    flex-direction: column;
}
#placement .images .image img{
    height: 70px;
    width: 70px;
    border: none;
    box-shadow: none;
    
}
#placement .images .image{
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: none;
}
section #placement .images .image{
    box-shadow: none;
    border: none;
    display: flex;
    flex-direction: column;
    margin: .3rem;
}
#map{
    display: none;

}
.sectionAcademics {
    display: flex;
    flex-direction: column;
}
.sectionAcademics .options{
    display: none;
}
#eng{
    margin: 2px;
}
 #eng .CS,#eng .IT,#eng .ECE,#eng .EE,#eng .ME,#eng .CE{
     display: flex;
     flex-direction: column;
     margin: 1px;
 }
 #pharma .medical img{
     height: 400px;
     width: 350px;
 }
 .Admission h1 span{
     display: none;
     
 }
 #campus ul{
     display: none;
 }
 #lib .lib{
     display: flex;
     flex-direction: column;
 }
 .lib .matter img{
     width: 350px;
     height: 300px;
 }
 #comp .comp{
     display: flex;
     flex-direction: column;
 }
 .imgComp img{
     height: 300px;
     width: 350px;
 }
 #hall{
     display: none;
 }
 #sports .sports{
     display: flex;
     flex-direction: column;
 }
 .sports .imgsp{
     display: none;
 }
 .sports video{
     display: none;
 }
 .nav2 {
     display:none;
 }
 #BH img{
     height: 400px;
     width: 500px;
 }
 #GH{
     display: none;
 }
 .vision{
     display: flex;
     flex-direction: column;
 }
.clubs {
    display: none;
}
}